
@{
    ViewData["Title"] = "Cadastrar";
    Layout = "~/Views/Shared/_LayoutSimples.cshtml";
}

@section javascript {

   

    <script src="~/js/Views/Produto/Cadastrar.js"></script>
}

@section estilos {

    
}



<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-lg-12" >
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    
                    <h3 class="card-title">Cadastrar Produto  </h3> <a href="/Produto"><img src="~/images/icons/arrow-circle-left-solid.svg" width="20px" height="20px" style="position:absolute; margin-left:10px; right:18px" /> </a>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form">
                    <div class="card-body" style="width: 22rem;">
                        <div class="form-group">
                            <label for="">Nome</label>
                            <input type="text" class="form-control" id="Nome" required name="Nome" placeholder="Nome do produto">
                        </div>

                        <div class="form-group">
                            <label>Categoria <a href="/Categoria/Cadastrar"><img src="~/images/icons/plus-square-solid.svg" width="20px" height="20px" style="position:absolute; margin-left:10px; margin-top: 3px;" /></a></label>
                            <select class="form-control select2" style="width: 100%;" id="Categoria">
                                <option selected="selected">Calçados</option>
                                <option>Eletrônicos</option>
                                <option>Móveis</option>
                            </select>

                        </div>     

                        <div class="form-group">
                            <label for="">($) Valor Compra</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" class="form-control" id="vCompra" required>
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="">($) Valor Venda</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" class="form-control" id="vVenda" required>
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>




                    </div>
                    <!-- /.card-body -->

                    

                    <div class="card-footer">
                        <button type="button" onclick="cadastrar.gravar()" class="btn btn-primary btn-sm float-right" id="right" >Adicionar</button>
                    </div>
                </form>
            </div>
            <!-- /.card -->


        </div>
        <!--/.col (left) -->

    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->

<div class="container-fluid">
    <div class="row">
        <div class="col-12">


            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Produtos Cadastrados</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th>Categoria</th>
                                <th>Preço Compra</th>
                                <th>Preço Venda</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tenis Nike Air Pro</td>
                                <td>
                                    Calçados
                                </td>
                                <td>380,00</td>
                                <td> 480,00</td>
                                <td>
                                    <a href="/Produto/Editar">
                                        <img src="~/images/icons/edit-solid.svg" width="20px" height="20px" />
                                    </a>
                                    <a href="/Produto/Remover">
                                        <img src="~/images/icons/trash-alt-solid.svg" width="20px" height="20px" style="margin-left: 10px;" />
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Produto</th>
                                <th>Categoria</th>
                                <th>Preço Compra</th>
                                <th>Preço Venda</th>
                                <th>Ação</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->