
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Autenticação</h1>
    <form action="~/Login/Logar" method="post">
        <input type="text" name="usuario" value="" />
        <input type="password" name="senha" value="" />
        <input type="submit" name="" value="Entrar" />
    </form>

    <div>
        @ViewBag.ErrorLogin
    </div>

</body>
</html>
