
@{
    Layout = "~/Views/Shared/_LayoutSimples.cshtml";
}

@section estilos {
    <link rel="stylesheet" href="~/template/sweetalert2/dist/sweetalert2.min.css">
}


@section javascript {
    <script src="~/template/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/js/Views/Login/Index.js"></script>
}

    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Autentic</b>ação</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Inicie por aqui</p>

                <form method="post" action="/Login/Logar">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="Email" id="email" placeholder="a@a.com">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="Senha" id="senha" placeholder="123">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">

                        </div>

                        <div class="col-4">
                            <input type="button" onclick="index.logar()" class="btn btn-primary btn-block" value="Entrar" />
                        </div>

                       

                    </div>
                </form>



            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->