<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>

    <header>
        Header Comum <!-- Layouts repetidos -->
    </header>

    <div>
        @RenderBody() <!-- Conteúdo de cada página que se diferencia -->
    </div>

    <footer>
        Footer Comum <!-- Layouts repetidos -->
    </footer>

</body>
</html>
