<!DOCTYPE html>

<html lang="pt-br">

<head>
    

    @RenderSection("estilos", false)
  
</head>

<body>

    <p>Oiiiis</p>

    <div>
        @RenderBody()
    </div>

    <footer>
        footer
    </footer>

</body>
   

    @RenderSection("javascript")
</html>
