
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section estilos {
    <style>
        h1 {
            color: red;
        }
    </style>
}

@section javascript {
    <script>
        //JS
    </script>
}

<h1>Index</h1>

<div>parte que vai mudar no layout</div>