
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section estilos {
    <style>
        h1 {
            color: red;
        }
    </style>
}

<!-- Conteúdo que entra no RenderBody() do _Layout -->
<h1>Default Index</h1>
<div>CORPO Default</div>

