.container-loading {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #ece0e061;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-loading img{
    width: 200px;
}